h1{
    color: aqua;
    background-color: gainsboro;
    border: 5px solid black;
    height: max-content; width: max-content;
    padding: 10px auto;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    color: gray;
}